:root{
    --color-logo-bg: #FF4C1D;
    --light-color-logo: #FF651E;
    --grey-logo: #ECEDED;
    --white: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    text-align: center;
    justify-content: center;
}

.logo{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center; /*centrado vertical*/
}

.logo-title{
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

.logo-container{
    /*clip-path: propiedad q permite hacer formas complejas como poligonos*/
    background: var(--color-logo-bg);
    border: 1px solid var(--color-logo-bg);
    width: 11vw;
    height: 25vh;
    /*pentangono ==> clip-path: polygon(esquina superior derecha, esquina inferior derecha, centro, 
                esquina inferior izquierda, esquina superior izquierda);*/
    clip-path: polygon(100% 0, 94% 83%, 50% 100%, 5% 85%, 0 0);
}

.light-logo{
    background: var(--light-color-logo);
    border: 1px solid var(--light-color-logo);
    position: relative;
    left: 50%;
    top: 1.5vw;
    width: 4vw;
    height: 19vh;
    /*clip-path: polygon(esquina superior izquierda, esquina superior derecha,  
                esquina inferior derecha, esquina inferior izquierda);*/
    clip-path: polygon(0 0, 100% 0%, 91% 83%, 0% 100%);
}

.number-container{
    position: absolute;
    left: 46.4vw;
    height: 14.5vh;
    top: 11.5vw;
    width: 7vw;
    /*pentangono ==> clip-path: polygon(esquina superior derecha, esquina inferior derecha, centro, 
                esquina inferior izquierda, esquina superior izquierda);*/
    clip-path: polygon(100% 0, 94% 83%, 50% 100%, 5% 85%, 0 0);
}

.number-top-grey{
    background: var(--grey-logo);
    border: 1px solid var(--grey-logo);
    /*top: 0;*/
    height: 2vh;
    /*left: 0;*/
    width: 3.5vw;
}

.number-top-white{
    background: var(--white);
    border: 1px solid var(--white);
    position: absolute;
    top: 0;
    height: 2vh;
    left: 3.5vw;
    width: 3.5vw;
}

.number-left-top-grey{
    background: var(--grey-logo);
    border: 1px solid var(--grey-logo);
    height: 2.1vh;
    width: 4vw;
    margin-top: -0.1vh;
    /*left: 0;*/
    /*clip-path: polygon(esquina superior izquierda, esquina superior derecha,  
            esquina inferior derecha, esquina inferior izquierda);*/
    clip-path: polygon(0 0, 30% 0, 35% 100%, 0 100%);
}

.number-middle-grey{
    background: var(--grey-logo);
    border: 1px solid var(--grey-logo);
    height: 2vh;
    margin-top: -0.1vh;
    width: 50%;
}

.number-middle-white{
    background: var(--white);
    border: 1px solid var(--white);
    height: 2vh;
    margin-top: -2.3vh;
    margin-left: 51%;
    width: 45%;
}

.number-right-white{
    background: var(--white);
    border: 1px solid var(--white);
    height: 6vh;
    width: 5vw;
    margin-left: 2vw;
    /*clip-path: polygon(esquina superior izquierda (x,y), esquina superior derecha(x,y),  
            esquina inferior derecha(x,y), esquina inferior izquierda(x,y));*/
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 65% 100%);
}

.number-bottom-white{
    background: var(--white);
    border: 1px solid var(--white);
    height: 12.5vh;
    margin-left: 51%;
    margin-top: -5vh;
    width: 5vw;
     /*clip-path: polygon(
         esquina superior izquierda (x,y), 
         esquina superior derecha(x,y),  
        esquina inferior derecha(x,y), 
        esquina inferior izquierda(x,y));*/
    clip-path: polygon(0 29%, 100% 0, 100% 20%, 0 49%);
}

.number-bottom-grey{
    background: var(--grey-logo);
    border: 1px solid var(--grey-logo);
    position: absolute;
    height: 12vh;
    top: 9.2vh;
    /*left: 0;*/
    width: 50%;
    /*clip-path: polygon(esquina superior izquierda (x,y), esquina superior derecha(x,y),  
            esquina inferior derecha(x,y), esquina inferior izquierda(x,y));*/
    clip-path: polygon(0 7%, 100% 20%, 100% 45%, 0 27%);
}

.number-bottom-left-grey{
    background: var(--grey-logo);
    border: 1px solid var(--grey-logo);
    position: absolute;
    width: 1.2vw;
    height: 3vh;
    bottom: 3vh;
    left: 0.3vw;
}

@media screen and (max-width: 912px) {
    .logo-title{
        font-size: 5vw;
    }

    .logo-container{
        width: 19vw;
        height: 16vh;
    }

    .light-logo{
        top: 2vw;
        width: 7vw;
        height: 13vh;
    }

    .number-container{
        left: 44vw;
        height: 10vh;
        top: 16vw;
        width: 12vw;
    }

    .number-top-grey{
        height: 1.6vh;
        width: 50%;
    }

    .number-top-white{
        height: 1.6vh;
        left: 50%;
        width: 50%;
    }

    .number-left-top-grey{
        height: 1.6vh;
        width: 7vw;
        margin-top: -0.1vh;
    }

    .number-middle-grey{
        height: 1.6vh;
        margin-top: -0.1vh;
    }

    .number-middle-white{
        height: 2vw;
        margin-top: -1.7vh;
    }

    .number-right-white{
        height: 4vh;
        width: 7vw;
        margin-left: 4.3vw;
        margin-top: -0.1vh;
    }

    .number-bottom-white{
        height: 16vh;
        margin-top: -6.7vh;
        width: 5vw;
        transform: rotateX(56deg);
    }
    
    .number-bottom-grey{
        top: 6vh;
        width: 51%;
    }

    .number-bottom-left-grey{
        width: 2vw;
        height: 2vh;
        bottom: 2vh;
    }
}

@media screen and (max-width: 540px) {
    body{
        width: 140vw;
    }

    #html5{
        width: 100%;
    }

    .number-container{
        left: 64vw;
    }

    .number-right-white{
        height: 3vh;
    }

    .number-bottom-white{
        transform: rotateX(63deg);
    }

    .number-bottom-left-grey{
        height: 1.3vh;
    }
}

@media screen and (max-width: 414px) {
    body{
        width: 183vw;
    }

    .logo{
        margin-top: 8vw;
    }

    .logo-title{
        font-size: 10vw;
    }

    .logo-container{
        width: 32vw;
        height: 21vh;
    }

    .light-logo {
        top: 3vw;
        width: 12vw;
        height: 17vh;
    }

    .number-container{
        left: 82vw;
        top: 31vw;
        width: 19vw;
        height: 12.5vh;
    }

    .number-top-grey {
        height: 2vh;
    }

    .number-top-white{
        height: 2vh;
    }

    .number-left-top-grey {
        height: 2vh;
        width: 11vw;
    }

    .number-middle-grey {
        height: 2vh;
    }

    .number-middle-white {
        height: 3vw;
        margin-top: -2.3vh;
    }

    .number-right-white{
        width: 10vw;
        margin-left: 8vw;
        height: 5vh;
    }

    .number-bottom-white{
        clip-path: polygon(0 8%, 100% 0, 100% 20%, 0 28%);
        transform: rotateX(0);
        margin-top: -2.6vh;
    }

    .number-bottom-grey{
        top: 8vh;
        height: 10vh;
    }

    .number-bottom-left-grey {
        height: 2.4vh;
        width: 3.1vw;
        bottom: 2vh;
    }
}