*{
    padding: 0;
    margin: 0;
}

#superman{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /*centrado vertical*/
}

.logo-superman-container{
    /*
    clip-path: polygon(tips go clockwise);
    */
    border: 1px solid red;
    background-color: red;
    clip-path: polygon(15% 0, 85% 0, 100% 27%, 50% 100%, 0 27%);
    width: 17vw;
    height: 20vh;
    margin-top: 1vw;
}

.logo-inner{
    border: 1px solid red;
    background: yellow;
    clip-path: polygon(15% 0, 85% 0, 100% 27%, 50% 100%, 0 27%);
    width: 15vw;
    margin: 5px 10px 10px 9px;
    height: 17.5vh;
    margin-left: 1vw;
}

.big-red-circle{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 13vw;
    height: 15vh;
    margin-left: 1vw;
    margin-top: -1vh;
}

.top-right-corner-higher{
    border: 1px solid red;
    background-color: yellow;
    width: 4vw;
    height: 2vh;
    margin-top: -15vh;
    margin-left: 8.3vw;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0);
    border-radius: 0 0 50% 0;
}

.red-square{
    border: 1px solid red;
    background-color: red;
    width: 1vw;
    height: 3vh;
    margin-top: -2vh;
    margin-left: 12vw;
}

.yellow-ellipse{
    background-color: yellow;
    border-radius: 50% 50% 0 0;
    /*width: 8px;
    height: 25px;
    margin-top: -22px;
    margin-left: 166px;*/
    width: 1vw;
    height: 22vh;
    margin-top: -5.4vh;
    margin-left: 18vw;
    transform: rotate(-30deg);
}

.red-tip{
    border: 1px solid red;
    background-color: red;
    border-radius: 50% 50% 0 0;
    width: 1vw;
    height: 3vh;
    margin-top: -39vh;
    margin-left: 12.3vw;
    transform: rotate(-22deg);
}

.second-yellow-ellipse{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 7vw;
    height: 4vh;
    margin-top: -4vh;
    margin-left: 4vw;
}

.right-yellow-ellipse{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 6vw;
    height: 4vh;
    margin-top: -3.6vh;
    margin-left: 7vw;
    transform: rotate(14deg);
}

.second-right-yellow-ellipse{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 4vw;
    height: 5vh;
    margin-top: -2vh;
    margin-left: 10vw;
    transform: rotate(54deg);
}

.red-ellipse{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 55px;
    height: 25px;
    margin-top: -24px;
    margin-left: 115px;
    transform: rotate(49deg);
}

.yellow-patch{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 40px;
    height: 18px;
    position: absolute;
    top: 324px;
    left: 663px;
}

.s-middle-top{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 88px;
    height: 45px;
    position: absolute;
    left: 623px;
    top: 339px;
    transform: rotate(-13deg);
}

/*.s-middle-top-2{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 88px;
    height: 45px;
    position: absolute;
    left: 669px;
    top: 341px;
    transform: rotate(8deg);
}*/

.yellow-patch-2{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 40px;
    height: 18px;
    position: absolute;
    top: 324px;
    left: 669px;
}

/*.s-middle-top-3{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 88px;
    height: 45px;
    position: absolute;
    left: 667px;
    top: 342px;
}*/

/*.yellow-patch-3{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 46px;
    height: 18px;
    position: absolute;
    top: 339px;
    left: 714px;
}*/

.yellow-lower-bottom{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 45px;
    height: 18px;
    position: absolute;
    left: 615px;
    top: 380px;
}

.yellow-lower-left-bottom{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 54px;
    height: 18px;
    margin-left: 39px;
    margin-top: 14px;
    transform: rotate(21deg);
}

.red-lower-left-bottom{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 18px;
    margin-left: 36px;
    margin-top: -35px;
    transform: rotate(6deg);
}

/*.yellow-little-circle-bottom{
    border: 1px solid yellow;
    background-color: yellow;
    width: 17px;
    height: 10px;
    margin-left: 66px;
    margin-top: 23px;
    border-radius: 50%;
}*/

.code-logo-superman{
    margin-top: 5vh;
}

.notice{
    margin-top: 5vh;
}

/*@media screen and (max-width: 1366px) {
    .logo-inner{
        width: 89%;
        margin: 5px 10px 10px 11px;
    }

    .top-right-corner-higher{
        width: 55px;
        height: 12px;
    }

    .red-square{
        margin-top: -13px;
        margin-left: 146px;
    }

    .yellow-ellipse{
        margin-left: 173px;
        width: 9px;
        margin-top: -25px;
    }

    .red-tip{
        height: 32px;
        margin-top: -15px;
        margin-left: 171px;
    }

    .second-right-yellow-ellipse{
        margin-top: -15px;
        margin-left: 131px;
        transform: rotate(32deg);
    }

    .red-ellipse{
        border: none;
        border-radius: 0%;
        width: 0px;
        height: 0px;
        margin-top: 0;
        margin-left: 0;
    }

    .yellow-patch{
        border: none;
        border-radius: 0%;
        width: 0px;
        height: 0px;
        top: 0;
        left: 0;
    }

    .yellow-patch-2{
        border: none;
        border-radius: 0%;
        width: 0px;
        height: 0px;
        top: 0;
        left: 0;
    }

    .s-middle-top{
        left: 668px;
        top: 341px;
        transform: rotate(-6deg);
    }

    .s-middle-top-2{
        border: 1px solid red;
        background-color: red;
        border-radius: 50%;
        width: 88px;
        height: 45px;
        position: absolute;
        left: 669px;
        top: 341px;
        transform: rotate(8deg);
    }

    .yellow-lower-bottom{
        left: 656px;
    }

    .yellow-lower-left-bottom{
        margin-top: 15px;
        transform: rotate(27deg);
    }

    .red-lower-left-bottom{
        width: 53px;
        margin-top: -30px;
        transform: rotate(7deg);
    }

    .yellow-little-circle-bottom{
        border: 1px solid yellow;
        background-color: yellow;
        width: 17px;
        height: 10px;
        margin-left: 66px;
        margin-top: 22px;
        border-radius: 50%;
    }
}*/