*{
    padding: 0;
    margin: 0;
}

#superman{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /*centrado vertical*/
}

.logo-superman-container{
    /*
    clip-path: polygon(tips go clockwise);
    */
    border: 1px solid red;
    background-color: red;
    clip-path: polygon(15% 0, 85% 0, 100% 27%, 50% 100%, 0 27%);
    width: 16%;
    height: 20vh;
    border-radius: 40px;
}

.logo-inner{
    border: 1px solid red;
    background: yellow;
    clip-path: polygon(15% 0, 85% 0, 100% 27%, 50% 100%, 0 27%);
    width: 90%;
    margin: 5px 10px 10px 9px;
    height: 17.5vh;
}

.big-red-circle{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 165px;
    height: 106px;
    margin-left: 8px;
    margin-top: -9px;
}

.left-corner-higher{
    width: 8px;
    height: 48px;
    margin-left: 13px;
    margin-top: -10px;
    clip-path: polygon(0 0, 100% 0%, 60% 19%, 48% 50%, 64% 86%, 100% 100%, 0 100%);
    transform: rotate(41deg);
}

.top-right-corner-higher{
    border: 1px solid red;
    background-color: yellow;
    width: 48px;
    height: 10px;
    margin-top: -100px;
    margin-left: 109px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0);
    border-radius: 0 0 50% 0;
}

.red-square{
    border: 1px solid red;
    background-color: red;
    width: 25px;
    height: 25px;
    margin-top: -12px;
    margin-left: 143px;
}

.yellow-ellipse{
    background-color: yellow;
    border-radius: 50% 50% 0 0;
    width: 8px;
    height: 25px;
    margin-top: -22px;
    margin-left: 166px;
    transform: rotate(-30deg);
}

.red-tip{
    border: 1px solid red;
    background-color: red;
    border-radius: 50% 50% 0 0;
    width: 8px;
    height: 25px;
    margin-top: -12px;
    margin-left: 163px;
    transform: rotate(-30deg);
}

.second-yellow-ellipse{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 87px;
    height: 25px;
    margin-top: -38px;
    margin-left: 55px;
}

.right-yellow-ellipse{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 79px;
    height: 25px;
    margin-top: -24px;
    margin-left: 88px;
    transform: rotate(14deg);
}

.second-right-yellow-ellipse{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 55px;
    height: 25px;
    margin-top: -11px;
    margin-left: 130px;
    transform: rotate(49deg);
}

.red-ellipse{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 55px;
    height: 25px;
    margin-top: -24px;
    margin-left: 115px;
    transform: rotate(49deg);
}

.yellow-patch{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 40px;
    height: 18px;
    position: absolute;
    top: 324px;
    left: 663px;
}

.s-middle-top{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 88px;
    height: 45px;
    position: absolute;
    left: 623px;
    top: 339px;
    transform: rotate(-13deg);
}

/*.s-middle-top-2{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 88px;
    height: 45px;
    position: absolute;
    left: 669px;
    top: 341px;
    transform: rotate(8deg);
}*/

.yellow-patch-2{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 40px;
    height: 18px;
    position: absolute;
    top: 324px;
    left: 669px;
}

/*.s-middle-top-3{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 88px;
    height: 45px;
    position: absolute;
    left: 667px;
    top: 342px;
}*/

/*.yellow-patch-3{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 46px;
    height: 18px;
    position: absolute;
    top: 339px;
    left: 714px;
}*/

.yellow-lower-bottom{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 45px;
    height: 18px;
    position: absolute;
    left: 615px;
    top: 380px;
}

.yellow-lower-left-bottom{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 54px;
    height: 18px;
    margin-left: 39px;
    margin-top: 14px;
    transform: rotate(21deg);
}

.red-lower-left-bottom{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 18px;
    margin-left: 36px;
    margin-top: -35px;
    transform: rotate(6deg);
}

/*.yellow-little-circle-bottom{
    border: 1px solid yellow;
    background-color: yellow;
    width: 17px;
    height: 10px;
    margin-left: 66px;
    margin-top: 23px;
    border-radius: 50%;
}*/

@media screen and (max-width: 1366px) {
    .yellow-patch{
        left: 678px;
    }

    .yellow-patch-2{
        left: 709px;
    }

    .s-middle-top{
        left: 661px;
        top: 341px;
        transform: rotate(8deg);
    }

    .s-middle-top-2{
        border: 1px solid red;
        background-color: red;
        border-radius: 50%;
        width: 88px;
        height: 45px;
        position: absolute;
        left: 669px;
        top: 341px;
        transform: rotate(8deg);
    }

    .s-middle-top-3{
        border: 1px solid red;
        background-color: red;
        border-radius: 50%;
        width: 88px;
        height: 45px;
        position: absolute;
        left: 667px;
        top: 342px;
    }

    .yellow-patch-3{
        border: 1px solid yellow;
        background-color: yellow;
        border-radius: 50%;
        width: 46px;
        height: 18px;
        position: absolute;
        top: 339px;
        left: 714px;
    }

    .yellow-lower-bottom{
        left: 656px;
    }

    .yellow-lower-left-bottom{
        margin-top: 15px;
    }

    .red-lower-left-bottom{
        width: 45px;
        margin-top: -36px;
    }

    .yellow-little-circle-bottom{
        border: 1px solid yellow;
        background-color: yellow;
        width: 17px;
        height: 10px;
        margin-left: 66px;
        margin-top: 23px;
        border-radius: 50%;
    }
}